/*to style: button, burn in hell, hover text, main text*/
/* @import "compass/css3"; */

@font-face {
    font-family: 'CuteFont-Regular';
    src: url('../fonts/CuteFont/CuteFont-Regular.eot');
    src: url('../fonts/CuteFont/CuteFont-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CuteFont/CuteFont-Regular.svg#CuteFont-Regular') format('svg'),
         url('../fonts/CuteFont/CuteFont-Regular.ttf') format('truetype'),
         url('../fonts/CuteFont/CuteFont-Regular.woff') format('woff'),
         url('../fonts/CuteFont/CuteFont-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: 'Nostra';
src: url('../fonts/Nostra/Nostrav10-SettTrial.eot');
src: url('../fonts/Nostra/Nostrav10-SettTrial.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nostra/Nostrav10-SettTrial.svg#CuteFont-Regular') format('svg'),
        url('../fonts/Nostra/Nostrav10-SettTrial.ttf') format('truetype'),
        url('../fonts/Nostra/Nostrav10-SettTrial.woff') format('woff'),
        url('../fonts/Nostra/Nostrav10-SettTrial.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

body {
    margin: auto;
}

img {
    display: grid;
    margin: auto;
    width: 80vw;
    height: auto;
}

img:hover h2{
    font-size: 6vw;
}

button {
    font-size: 6.5vw;
    line-height: 112.99%;
    font-family: 'CuteFont-Regular';
    color: #10FC19;
    /* text-decoration: underline; */
    text-align: center;
    padding: 1.5vw;
    
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 100px;
    border: 2px solid #10FC19;
    /* border: none; */
    cursor:pointer;
    overflow: hidden;
    outline:none;

    /* margin-left: 22vw; */
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: grid;
    margin: auto; 
    margin-top: 8vw;
    
}

h1 {
    font-size: 6vw;
    font-family: 'Nostra';
    margin: auto;
    padding: 0.3vw;
    text-align: center;
   
}

h2 {
    font-family: 'Nostra';
    margin: auto;
    text-align: center;
}

p {
    width: 60vw;
    font-size: 5vw;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 8vw;
    margin-bottom: 8vw;
}